target/classes/apessentials.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
    <smtp:gmail-connector name="Gmail" validateConnections="true" doc:name="Gmail" fromAddress="qamuletest@gmail.com" subject="subject"/>
    <flow name="apessentialsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <set-payload value=" #[message.payload]" doc:name="Set Payload"/>
        <logger level="INFO" doc:name="Logger" message="#[payload],#[message]"/>
        <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="qamuletest@gmail.com" password="thisisaTestAccount" connector-ref="Gmail" to="{insert email address to send to}" subject="muleTest" responseTimeout="10000" doc:name="SMTP"/>
        <file:outbound-endpoint path="{give path to file to write}" outputPattern="muleTest.txt" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
